.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.dart_tool/
.idea/
.vscode/
build/
flutter_preset_app/build/
flutter_preset_app/.dart_tool/
preset_service/__pycache__/
preset_service/venv/
preset_service/.venv/
